.card {
    padding: 24px;
}
.form{
    width: 500px
}
.formRow{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    gap: 10px;
}
.formRow > div{
    width: 100%;
}

.info{

    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 1000px;
    margin: 16px;
    background-color: #6C7787;

   
}

.stripe{
    display: flex;
    align-items: center;

  
}