.float-container {
  width: 100%;
}

.float-child {
  width: 50%;
  float: left;
}

.category {
  color: rgb(0, 0, 0);
  background-color: #d5dde5;
}
.tablebtn {
  cursor: pointer;
  background-color: transparent;
  border: transparent;
}

.tablebtn:hover {
  color: black;
  cursor: pointer;
}

.tablerow {
  background-color: transparent;
  border: transparent;
}

.tablerow:hover {
  background-color: #e3f2fd !important;
  cursor: pointer;
}
.tablerow_active {
  background-color: #e3f2fd !important;
}

.error-message {
  color: red;
}
.buttonContainer {
  width: 100%;
  margin-bottom: 8px;
}
.buttonContainer button {
  height: auto;
}
.tableRowWrapper {
  display: contents;
  cursor: pointer;
}
.requestCell {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  height: 100% !important;
}
.headingRow {
  display: flex;
  justify-content: space-between;
}
