.my-form {
    display: flex;
    flex-direction: column;
    border: '1px solid ';
    
    width: 500px;
    justify-content: center;
    
    margin: 0px;



}

.form-row {
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 75px;
    flex: 1;
    justify-content:space-around;

}

.form-row > div:not(:last-child) {
    margin-right: 10px;
    margin-left: 30px; /* Add some space between elements */
}

.form-button {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.dropdown{
    width: 200px; /* Adjust the width as needed */
}

.form-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.span{
    margin-top: 100px;

}