.form {
    width: 500px;
}

.form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.form2 > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: right;
}

.formRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    gap: 10px;
}
.formRow2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 10px;
    align-items: center;
    


}
.column{
    flex-direction: column;
    display: flex;

}


.field{
    width: 200px;
}
.recipient_field{
    width: 100%;
}
.formCommodityRow {
    display: flex;
    justify-content: center;
    background-color: white;

}

.formItemRemove {
    margin-left: 1rem;
    cursor: pointer;
    align-items: end;
}
.amount-input {
    display: none; /* Initially hide the input fields */
  }
.show-amount-input .amount-input {
    display: block; /* Show the input fields when this class is applied */
  }
  .hidden {
    display: none;
  }

 