.form {
    width: 500px;
}

.form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.form2 > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: right;
}

.formRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    gap: 10px;
}
.formRow2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 10px;
    align-items: center;
    


}
.column{
    flex-direction: column;
    display: flex;

}


.field{
    width: 200px;
}
.recipient_field{
    width: 200px;
}
.formCommodityRow {
    display: flex;
    background-color: white;
}

.formRecipient{
    padding: 1em;
    display: flex;
    justify-content: center;
    background-color: white;
}
.formItemRemove {
    cursor: pointer;
    margin: 28px 0 0 10px;
    display: block;
}
.amount-input {
    display: none; /* Initially hide the input fields */
}

.show-amount-input .amount-input {
    display: block; /* Show the input fields when this class is applied */
}

.hidden {
    display: none;
}

.addRecipientForm {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.addRecipientFields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addRecipientField {
    width: 240px;
}

.info{

    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 1000px;
    margin: 16px;
    background-color: #6C7787;

   
}

.stripe{
    display: flex;
    align-items: center;

  
}